


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}




.rows{
    display: inline-block;
    /*height: 140px;*/
    background-color: #efefef;
    width: 25%;
    padding: -5px;
    border: 3px solid white;
    height: 330px;
    /*margin: 0;*/
}


/*.toSide{
    column-count: 3;
    column-count: 3;
    column-count: 3;
}*/

.imgSize {
    padding: -5px;
    width: 20%;
    border:1px solid white;
    display: inline-block;
}

.horizontalBreak {
    width: 90%;
    display: block;
    /*margin-top: 60px;*/
}

/*.flexBox {
    display: -webkit-flex;
}*/
